@model List<Lecture_3.Models.Entity.Products>
@{ ViewBag.Title = "Index"; }

<h2>Index</h2>
<a href="/Product/create" class="btn btn-primary">Add Product</a>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    @foreach (var p in Model)
    {

<tr>


    <td>@p.ID</td>
    <td>@p.Name</td>
    <td>@p.Quantity</td>
    <td>@p.Price</td>
    <td>@p.Description</td>

    <td><a href="/product/AddCart" class="btn btn-primary" + @p.ID> Add To Cart</a></td>
    <td> <a href="/product/delete?ID=@p.ID" class="btn btn-danger">Delete</a></td>

</tr>
    }
</table>

